PORT_FRONTEND=3000
PORT_BACKEND=8080
PORT_AI=8000

MYSQL_ROOT_PASSWORD=your_root_password
MYSQL_DATABASE=landom
MYSQL_USER=landom
MYSQL_PASSWORD=your_user_password

CLICKHOUSE_DB=landom
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=your_clickhouse_password

JWT_SECRET=your_jwt_secret

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/landom
SPRING_DATASOURCE_USERNAME=landom
SPRING_DATASOURCE_PASSWORD=your_user_password

APP_ENV=dev   # dev or prod

GHCR_USERNAME=your_github_username
GHCR_READ_PAT=your_read_token

SERVER_HOST=your.server.ip
SERVER_USER=ubuntu
SERVER_SSH_KEY=-----BEGIN OPENSSH PRIVATE KEY-----